.nav-block {
        margin: 0 5px;
        padding: 8px 12px;
        text-decoration: none;
        color: #333;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    .nav-block:hover {
        background-color: #ffffff;
    }
    .nav-block-content {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .hero-section {
        min-height: 500px;
    }
    .card {
        transition: transform 0.3s;
    }
    .card:hover {
        transform: translateY(-5px);
    }
.navbar {
    background: rgba(255, 0, 0, 0.053) !important;
    backdrop-filter: blur(1px);
}

.nav-link {
    color: rgba(255, 254, 254, 0.053) !important;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #ee00ff !important;
}

.btn-outline-light {
    border-color: white;
    color: white;
}

.btn-outline-light:hover {
    background-color: white;
    color: black;
}
/* Эффект при наведении на пункты меню */

/* Подчёркивание при наведении */
.nav-link {
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid #000000;
}
    .btn-custom {
        background-color: #dc03f9; 
        color: white;
        border: none;
    }
    .btn-custom:hover {
        background-color: #7a0083; /* Темнее при наведении */
        color: white;
    }
    .card {
        border: none;
        transition: transform 0.3s;
    }
    .card:hover {
        transform: translateY(-5px);
    }
    .card-footer {
        background-color: rgb(255, 254, 254); /* Прозрачный фон */
    }




