{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-3">
    <div class="card-img-top d-flex justify-content-end">    
        <a href="{% url 'landing' %}" class="btn btn-outline-dark ">Назад на главную</a>    
    </div>
</div>
<section id="about" class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="mb-4">Добро пожаловать в Mi Mary!</h2>
                <p class="lead">
                    Мы — студия красоты, где каждый клиент становится звездой! Наш мастер, Татьяна, с любовью и профессионализмом создаёт неповторимые образы, подчёркивая вашу индивидуальность.
                </p>
                <p>
                    В Mi Mary мы используем только лучшие материалы и современные технологии, чтобы вы всегда выглядели безупречно. Наши услуги включают маникюр, педикюр, наращивание ресниц, и многое другое.
                </p>
                <p>
                    Ваша красота — наша главная цель! Приходите к нам, и мы сделаем так, чтобы вы сияли ярче всех!
                </p>
            </div>
            <div class="col-md-6 justify-content-end">
                <img src="{% static 'images/master.jpg' %}" alt="Мастер Татьяна" class="img-fluid rounded shadow" style="border: 1px solid #000000">
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="py-3 ">
    <div class="container">
        <h2 class="text-center mb-5">Наши работы</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images/work1.jpg' %}" class="card-img-top" alt="Работа 1">
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images/work2.jpg' %}" class="card-img-top" alt="Работа 2">
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images/work3.jpg' %}" class="card-img-top" alt="Работа 3">
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images/work4.jpg' %}" class="card-img-top" alt="Работа 4">
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images/work5.jpg' %}" class="card-img-top" alt="Работа 5">
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images/work6.jpg' %}" class="card-img-top" alt="Работа 6">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
