<div class="card h-100 shadow-sm">
<div class="card-header bg-white d-flex justify-content-between align-items-center">
<h5 class="mb-0">Заявка #{{ order.id }}</h5>
<span class="badge bg-{{ order.status }}">
            {{ order.get_status_display }}
</span>
</div>
<div class="card-body d-flex flex-column">
<div class="mb-3">
<div class="d-flex align-items-center mb-2">
<i class="bi bi-person-circle fs-5 text-muted me-2"></i>
<strong>{{ order.client_name }}</strong>
</div>
<div class="d-flex align-items-center text-muted">
<i class="bi bi-telephone fs-5 me-2"></i>
<span>{{ order.phone }}</span>
</div>
</div>
 
        <div class="mb-3">
<div class="d-flex align-items-center text-muted">
<i class="bi bi-calendar-event fs-5 me-2"></i>
<span>{{ order.appointment_date|date:"d.m.Y H:i" }}</span>
</div>
</div>
 
        {% if order.comment %}
<div class="mt-auto pt-3 border-top">
<p style="color: #fe0000ff;" class="fst-italic mb-0">
<i style="color: red" class="bi bi-chat-left-text me-1"></i>
                "{{ order.comment|truncatewords:15 }}"
</p>
</div>
        {% endif %}
</div>
<div class="card-footer bg-light text-center">
<a href="{% url 'order_detail' order.id %}" class="btn btn-outline-dark w-100">
             Подробнее <i class="bi bi-arrow-right-short"></i>
</a>
</div>
</div>